<main>
	{{!-- start new container --}}
  <div class="container burgers">
    <div class="row">
      <div class="col s6">
				{{!-- this is the area where the burgers that have not been devoured go.  --}}
        {{#each burgers}}
          {{#unless this.devoured}}
            <div>
							{{!-- they have an api call on them b/c they are a form --}}
              <form action="/API/updateDevourTruthy/{{this.ID}}?_method=PUT" method="POST">
							{{!-- the button submits to move the burger over and update in the database --}}
							{{!-- also it passes in the object this.burger_name for each iteration in the db that is rendered on the page --}}
                <button type="submit" class='notDevoured'> {{this.burger_name}}</button>
              </form>
            </div>
          {{/unless}}
        {{/each}}
      </div>
{{!-- this is the part of the page this will render the devoured burgers --}}
      <div class="col s6">
        {{#each burgers}}
          {{#if this.devoured}}
            <div class='devoured'>
              <div>
                {{this.burger_name}}
              </div>
            </div>
          {{/if}}
        {{/each}}
      </div>
    </div>
  </div>
</main>