html, body {
	height: 100%;
}

body {
	width: 75%;
	margin: 0 auto;
	display: flex;
	min-height: 100vh;
	flex-direction: column;
	background-color: white;
}

;
body {
	text-align: center;
	font-family: 'Lora', serif;
}
;

;
.bg {
	background-image: url("/assets/images/cafe.jpeg.jpg");
	/* Full height */
	height: 100%;
	/* Center and scale the image nicely */
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}