html {
	background-color: #FFC04C;
}

body {
	width: 75%;
 margin: 0 auto; 

 display: flex;
 min-height: 100vh;
 flex-direction: column;
 background-color: rgb(99, 23, 23);
};

.row.burgerHeaders {
margin-top: 15px;
}